<div class="file-container"></div>

{{#content}}

{{#progress}}
<div id="placeholder" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{type}} from {{sender}}</h3>
  </div>
  <div class="panel-body">
    <div class="progress progress-striped active">
      <div class="progress-bar"  role="progressbar"
	   aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
	   style="width: {{percent}}%">
	<span class="sr-only">{{percent}}% Complete</span>
      </div>
    </div>
  </div>
</div>
{{/progress}}

{{#img}}
<div id="placeholder" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Picture from {{sender.name}} ({{sender.email}})</h3>
  </div>
  <div class="panel-body">
    <img src="data:{{type}};base64,{{content}}"
	 alt="image sent from {{sender.name}}">
  </div>
</div>
{{/img}}



{{#text}}
<div id="placeholder" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Message from {{sender.name}} ({{sender.email}})</h3>
  </div>
  <div class="panel-body">
    <h3 class="muted"><pre>{{content}}</pre></h3>
  </div>
</div>
{{/text}}


{{#video}}
<div id="placeholder" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Video from {{sender.name}} ({{sender.email}})</h3>
  </div>
  <div class="panel-body">
    <iframe id="ytplayer" type="text/html" width="640" height="390"
	    src="http://www.youtube.com/embed/{{content}}?autoplay=1"
	    frameborder="0"/>
  </div>
</div>
{{/video}}



{{else}}

<div class="jumbotron">
  <div class="container">
    <h1>Welcome!</h1>
    <p>No one is currently sending you any files.</p>
  </div>
</div>

{{/content}}
